<div class="container>
    <div class="row">
        <div class="col-xs-12">
          <div class="jumbotron">
              <h1>Hello</h1> <!--instet name-->
                  <p>Welcome to Coffee Cloud</p>
                  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Coffe Mates</h3>
                </div>  
                <div class="panel-body">
                    <p>Connect</p>
                </div>
            </div>
        </div>
        <!--Map insert-->
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>Map</p>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Profile</h3>
                </div>  
                <div class="panel-body">
                    <p>Profile</p>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-xs-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Prints</h3>
                </div>  
                <div class="panel-body">
                    <p>My Prints</p>
                </div>
            </div>
        </div>
    </div>
</div>
